.DS_Store
__pycache__
/archive

france_2001/
france_2008/
france_2014/
france_2020/
france_2026/
france_census/
new_france_joined_outputs/france_joined_2026/joined_tour1_2026.csv

data/
*.json
*.xlsx
*.xls

*.pyc
.env
venv/